lampa.verux.ru {
    reverse_proxy 127.0.0.1:12672
}

mail.verux.ru {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8088
}

dns.verux.ru {
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Content-Security-Policy "default-src 'self'; frame-ancestors 'none'; form-action 'self'; base-uri 'self';"
        -Server
    }
	
    reverse_proxy 127.0.0.1:8085
}

vpn.no.x.verux.ru {
    encode gzip

    reverse_proxy 127.0.0.1:64381 {
        header_up Host {host}
        header_up X-Real-IP {remote_ip}
        header_up X-Forwarded-For {remote_ip}
        header_up X-Forwarded-Proto {scheme}
    }

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        -Server
    }
}

shutdown-team.ru {
    reverse_proxy 127.0.0.1:3501
}

api.shutdown-team.ru {
    reverse_proxy 127.0.0.1:8501
}

amnis.jdh-team.ru {
    reverse_proxy 127.0.0.1:3000
}

api.jdh-team.ru {
    reverse_proxy 127.0.0.1:8000
}

redis.jdh-team.ru {
    reverse_proxy 127.0.0.1:6379
}

